<!doctype html>
<html>
  <head>
    <title>Recognise Yourself</title>
      {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
      {% endwith %}
    <style>
        h1 {text-align: center;color: #444;}
        p {text-align: center;color: #444;}
        .img-container {
            text-align: center;
        }
    </style>
  </head>

  <body style="background-color:powderblue;">
    <h1>Security Check, Kindly be in front of camera and click submit</h1>
    <div class="img-container">
        <img alt="Input for prediction" class="center" src="{{ url_for('video_feed') }}">
    </div>
    <form action = "http://localhost:8000/result" method = "post">
         <p>Enter Name:</p>
         <p><input type = "text" name = "nm" /></p>
         <p><input type = "submit" value = "submit" /></p>
    </form>
  </body>

</html>
